<div class="row animated fadeIn">
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 card-img">
                    <img [src]="bio | hasValue:'person':'' | hasValue:'pictureThumbnail':'assets/img/noimage.png'" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ bio | hasValue:'person':'' | hasValue:'name':'' }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ bio | hasValue:'person':'' | hasValue:'professionalHeadline':'' }}</h6>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Strengths</h5>
                        <p class="card-text">
                            <span #skill class="badge badge-pill badge-primary pointer"
                                *ngFor="let strength of bio.strengths" (click)="setSkill(skill)">
                                {{ strength.name }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ selectedSkill }}</h5>
                <p class="card-text">
                    <select #level class="custom-select" (change)="setLevel($event.target.value)">
                        <option selected>Choose Level</option>
                        <option value="potential-to-develop">Potential to develop</option>
                        <option value="1-plus-year">More than 1 year</option>
                        <option value="2-plus-years">More than 2 years</option>
                        <option value="3-plus-years">More than 3 years</option>
                        <option value="5-plus-years">More than 5 years</option>
                        <option value="10-plus-years">More than 10 years</option>
                        <option value="1-less-year">Less than 1 year</option>
                        <option value="2-less-years">Less than 2 years</option>
                        <option value="3-less-years">Less than 3 years</option>
                        <option value="5-less-years">Less than 5 years</option>
                        <option value="10-less-years">Less than 10 years</option>
                    </select>
                </p>
                <button class="btn btn-primary" (click)="searchBySkillLevel()">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card text-center mb-3" *ngIf="opportunities.length === 0">
            <div class="card-body">
                <h5 class="card-title">No Results</h5>
            </div>
        </div>
    </div>

    <div class="card-columns">
        <div class="card pointer" 
             (click)="seeOportunity(opportunity.id)"
             *ngFor="let opportunity of opportunities">
            <div class="card-body">
                <h5 class="card-title">{{ opportunity.objective }}</h5>
                <p class="card-text">
                    <span class="badge badge-pill"
                        [ngClass]="{'badge-success': skill.name === selectedSkill, 'badge-warning': skill.name !== selectedSkill}"
                        *ngFor="let skill of opportunity.skills">
                        {{ skill.name }}
                    </span>
                </p>  
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Compesation <small class="text-muted">(min)</small>:  {{ opportunity.compensation | hasValue:'data':'' | hasValue:'currency':'' }}{{ opportunity.compensation | hasValue:'data':'' | hasValue:'minAmount':'To be define' }}</li>                    
                    <li class="list-group-item">
                        <svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                      </svg>
                      Location: {{ opportunity | hasValue:'locations':'To be define' }} </li>
                </ul>              
            </div>
        </div>
    </div>
</div>