<div class="row">

    <div class="col-md-8">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 card-img">
                    <img [src]="bio.person.pictureThumbnail" class="card-img-top" [alt]="bio.person.name">
                    <div class="card-body">
                        <h5 class="card-title">{{ bio.person.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ bio.person.professionalHeadline }}</h6>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Strengths</h5>
                        <p class="card-text">
                            <span #skill class="badge badge-pill badge-primary pointer" 
                                *ngFor="let strength of bio.strengths"
                                (click)="setSkill(skill)">
                                {{ strength.name }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ selectedStrength }}</h5>
                <p class="card-text">
                    <select #level class="custom-select"
                            (change)="setLevel($event.target.value)">
                        <option selected>Choose Level</option>
                        <option value="potential-to-develop">Potential to develop</option>
                        <option value="1-plus-year">More than 1 year</option>
                        <option value="2-plus-year">More than 2 years</option>
                        <option value="3-plus-year">More than 3 years</option>
                        <option value="5-plus-year">More than 5 years</option>
                        <option value="10-plus-year">More than 10 years</option>
                        <option value="1-less-year">Less than 1 years</option>
                        <option value="2-less-year">Less than 2 years</option>
                        <option value="3-less-year">Less than 3 years</option>
                        <option value="5-less-year">Less than 5 years</option>
                        <option value="10-less-year">Less than 10 years</option>
                    </select>
                </p>
                <button class="btn btn-primary"
                        (click)="searchBySkillLevel()">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>